@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&family=Twinkle+Star&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --lt-cor: #f29898;
    --space: #3b3561;
    --glow: #ead94c;
    --dust: #e7e7e7;
    --trop: #51a3a3;
    font-size: 12px;
}

h1, h2{
    font-family: "Twinkle Star", cursive;
}

a, li, p{
    font-family: "Edu SA Hand", cursive;
    line-height: 1.5rem;
}

body{
    background-color: var(--trop);
}

header{
    top: 0px;
    margin: 0 auto;
    padding-top: 1rem;
    width: 100%;
    position: sticky;
    background-color: var(--lt-cor);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 4px 4px 4px var(--space);
}

h1{
    text-align: center;
    margin: 0.5rem;
    font-size: 2.25rem;
    padding-bottom: 1rem;
    color: var(--space);
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2rem;
}

nav a{
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    background-color: var(--dust);
    text-decoration: none;
    color: var(--trop);
    border-radius: 15px;
    border: 2px solid var(--trop)
}

img{
    width: 100%;
    border-radius: 15px;
}

main{
    background-color: var(--trop);
    padding: 1rem;
}

main h2{
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    border-bottom: 4px dashed var(--glow);
    padding-bottom: 0.5rem;
    color: var(--dust);
}

.info{
    display: flex;
    flex-direction: column;
}

.info p{
    margin: 1rem;
    padding: 1rem;
    color: var(--dust);
    background-color: var(--lt-cor);
    color: var(--space);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 4px 4px 4px var(--space);
}

#divgrid{
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem auto;
}

#divgrid div{
    display: block;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--glow);
    box-shadow: 4px 4px 4px var(--space);
}

#divgrid div p{
    text-align: center;
    padding: 1rem;
}

@media screen and (min-width: 720px){

    :root{
        font-size: 16px;
    }

    main{
        width: 70%;
        margin: auto;
    }

    .info{
        flex-direction: row;
    }

    #divgrid{
        grid-template-columns: 1fr 1fr;
    }

    #divgrid div{
        width: 70%;
    }
}